(vector<pair<int, int>>(){make_pair(40,261), make_pair(279,955)}, "departure location")
(vector<pair<int, int>>(){make_pair(33,375), make_pair(394,963)}, "departure station")
(vector<pair<int, int>>(){make_pair(39,863), make_pair(877,970)}, "departure platform")
(vector<pair<int, int>>(){make_pair(30,237), make_pair(256,955)}, "departure track")
(vector<pair<int, int>>(){make_pair(47,731), make_pair(741,950)}, "departure date")
(vector<pair<int, int>>(){make_pair(38,301), make_pair(317,954)}, "departure time")
(vector<pair<int, int>>(){make_pair(26,598), make_pair(623,969)}, "arrival location")
(vector<pair<int, int>>(){make_pair(50,835), make_pair(854,971)}, "arrival station")
(vector<pair<int, int>>(){make_pair(44,535), make_pair(549,958)}, "arrival platform")
(vector<pair<int, int>>(){make_pair(36,672), make_pair(685,967)}, "arrival track")
(vector<pair<int, int>>(){make_pair(34,217), make_pair(236,974)}, "class")
(vector<pair<int, int>>(){make_pair(29,469), make_pair(483,970)}, "duration")
(vector<pair<int, int>>(){make_pair(45,111), make_pair(120,965)}, "price")
(vector<pair<int, int>>(){make_pair(32,751), make_pair(760,954)}, "route")
(vector<pair<int, int>>(){make_pair(25,321), make_pair(339,954)}, "row")
(vector<pair<int, int>>(){make_pair(38,423), make_pair(438,958)}, "seat")
(vector<pair<int, int>>(){make_pair(45,798), make_pair(813,954)}, "train")
(vector<pair<int, int>>(){make_pair(40,487), make_pair(503,954)}, "type")
(vector<pair<int, int>>(){make_pair(46,916), make_pair(938,949)}, "wagon")
(vector<pair<int, int>>(){make_pair(25,160), make_pair(184,957)}, "zone")